# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Client/UserInterface/Debug/

Client/SphereLib/Debug/

Client/SphereLib/Distribute/

Client/ScriptLib/Distribute/

Client/ScriptLib/Release/

Client/ScriptLib/Debug/

Client/SpeedTreeLib/Debug/

Client/SpeedTreeLib/Release/

Client/SpeedTreeLib/Distribute/

Client/UserInterface/Icons/

Client/UserInterface/Release/

Client/UserInterface/Cursors/

Client/CWebBrowser/Debug/

Client/CWebBrowser/Distribute/

Client/CWebBrowser/Release/
